<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.jeffquayle.crosswindcalc</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>xwcalc</string>
			</array>
		</dict>
	</array>
	<key>CFBundleDisplayName</key>
	<string>XW Calc</string>
	<key>CFBundleName</key>
	<string>Crosswind Calculator</string>
	<key>CFBundleSpokenName</key>
	<string>Crosswind Calculator</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Used to find the nearest weather station for density altitude calculation.</string>
</dict>
</plist>
